<div class="container">
  <h1>All Users</h1>
  <div class="row">
    <% @users.each do |user| %>
        <div class="col s12 m6 l4">
          <div class="card hoverable">
            <div class="card-image">
              <%= cl_image_tag(user.image) %>
            </div>
            <div class="card-content">
              <h5><%= user.name %></h5>
            </div>
            <div class="card-action">
              <a href="/users/<%= user.id %>">View Profile</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
