<h1>All Users</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eos accusamus similique distinctio, excepturi dolores vero quos illum deleniti ipsam eligendi placeat aperiam saepe quia odit nihil libero est ex.</p>

<% @users.each do |user| %>
  <hr>
  <p><%= link_to( user.username, user ) %></p>
  <p><%= user.name %></p>
  <p><%= user.country %></p>
  <p><%= user.dob %></p>
<% end %>
