<div class="homePage">
  <h1>Welcome</h1>
  <p id="homePageWelcomeMsg">The team behind the Mars Curiosity Rover is one of tens of thousands of teams around the world using Slack to make their working lives simpler, more pleasant, and more productive.</p>
</div>
