<div class="homePage">
  <h1>Welcome</h1>
  <p id="homePageWelcomeMsg">A virtual place to share your travel experiences.</p>
  <br>
  <div class="homePageSignupContainer">
      <%= link_to "Sign Up", new_user_path, class: "waves-effect waves-light btn" %>


      <a href="/login" class="waves-effect waves-light btn">Login</a>

  </div>
  <br>
  <br>
  <br>
  <br>
</div>
