// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav {
  background-color: #536dfe;
}
.card a:hover {
  color: #009688;
  font-size: 1.02em;
  transition: 0.2s;
}
.parallax-container {
  height: 100vh;
}
.parallaxLeft {
  width: 50vw;
  height: 60vh;
  color:white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin-top: 25vh;
  margin-left: 5vw;
}
.parallaxRight {
  margin-top: 25vh;

}

footer {
  background-color: #536dfe;
  text-align: center;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: #009688;
}
.pageActionButtons {
  background-color: white;
  text-align: center;
  width: 26vw;
  padding: 10px;
  margin: auto auto;

}
.pageActionButtons p {
  color: black;
  font-size: 2em;;
}

.profileImageShowPage {
  width: 30vw;
  border-radius: 0%;
}
.profile {
  background-color: white;
  margin-top: 1em;
  margin-left: auto;
  text-align: center;
  border: solid 1px grey;
  padding: 1em;
}
.achievementImageShowPage {
  height: 60vh;
}

.card {
  overflow: hidden;
}

.card .card-image img {
  height: 200px;
  width: auto;
}

.homePage {
  background-image: url("http://res.cloudinary.com/dsp8hpv9l/image/upload/v1480633908/street-1030930_1920_snhil6.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  color:white;
  text-align: center;
}
.homePage h1 {
  margin-top: 0px;
  padding-top: 40vh;
  font-family: 'Permanent Marker', cursive;
}

body {
  font-family: 'Indie Flower', cursive;
}
body h1 {
  font-family: 'Permanent Marker', cursive;
}
.brand-logo {
  font-family: 'Permanent Marker', cursive;
  margin-left: 15vw;
}
