// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav {
  background-color: #536dfe;
}
.card a:hover {
  color: #009688;
  font-size: 1.02em;
  transition: 0.2s;
}
.parallax-container {
  height: 100vh;
}
.parallaxLeft {
  width: 50vw;
  height: 60vh;
  color:white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin-top: 25vh;
  margin-left: 5vw;
}

footer {
  background-color: #536dfe;
  text-align: center;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: #009688;
}
.pageActionButtons {
  background-color: white;
  text-align: center;
  width: 26vw;
  padding: 10px;
  margin-top: -90px;
  margin-left: 37vw;

}
.pageActionButtons p {
  color: black;
  font-size: 2em;;
}
